:root {
    --black:#000000ef;
    --primary: #111B54;
    --light: #ffffff;
    --grey: #575555;
    --red:#ba0606;
    --orange:#cc6109;
    --orangeb:#e0905a;
}

/*Elementos principalesn de la pagina */
body
{
    color: #181818; 
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary); 
    background-color: rgb(26, 6, 139);
}

#id_body
{
    background-color: #111B54;
    overflow-y: scroll;
}

#main_wrapper
{
        display:midle;
        width: 95%;
        height: 95%;
        padding-top: 10px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background:url("../source/imagenes/Fondos/fondoFooter.png") repeat;
    

}


/*encabezado*/

nav
{
    display: inline-block;
    width: 740px;
    text-align: center;
}

#head, #nav, #btn
{
    display: inline-block;          
}

#btn
{   
   position:absolute;
   margin-left: 900px; 
  
}


nav li
{
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
    
}


#al
{
    color:var(--orange);
    font-style: bold;
    font-size:18.5px;
    
}

/*banner*/

#banner_image
{

    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../source/imagenes/Fondos/FondoMetales2.png') no-repeat;
    background-color: #efefef;
    position:relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

#banner_description
{
    position: absolute;
    bottom: 0;
    background-color: rgb(24, 24, 24); /*Navegadores antiguos*/
    background-color: rgba(24, 24, 24, .8); /*Navegadores Modernos*/
    color: white;
    font-size: 1em;
    width: 99.5%;
    height: 33%;
    padding-top: 15px;
    padding-left: 4px;
    border-radius: 0px 0px 5px 5px;
    
}
#id_nombre
{
    color:rgb(223, 127, 71);
    background-color: rgb(68, 67, 67); /*Navegadores antiguos*/
    background-color: rgba(80, 79, 79, 0.8); /*Navegadores Modernos*/
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33%;
    font-size: 3.5em;
    font-style: bold;
}

#id_p
{
    font-size: 1.2em;
    color:antiquewhite;
}

/*Comtenido*/


/*pie de pagina*/


#id_footer
{
    display: inline;
    height: 500px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    background: url('../source/imagenes/Fondos/fondoFooter.png') repeat;
          
}

#id_lista_footer
{
    text-decoration: none;
    text-align: center;
    display: block;

}

#al2
{
    color:var(--orange);
    font-style: bold;
    font-size:18.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#id_sp
{
    color:var(--orange);
    font-style: bold;
    font-size:17.5px;
}

/*Pagina Sobre Nosostros*/
#banner_image_N
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../source/imagenes/Fondos/FondoMetales3.png') no-repeat;
    background-color: var(--light);
    position:relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#id_secN
{
    display: inline-block;
    position:-ms-page;
    padding: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;


}
#id_card1, #id_card2
{
    display: inline-block;
}

#id_conteiner_card
{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    
}

#id_pcard
{
    background-color: #181818;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 4px 4px 4px #1c1a19;
}

#id_card1
{
    position: relative;
    margin-left: -200px;
    margin-bottom: 50px;
}

#id_card2
{
    position: relative;
    margin-bottom: 50px; 
}

#id_card:hover
{
    width: 110%;
    height: 110%;
}

#id_card
{
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 4px 4px 4px 4px #1c1a19;
}

#id_title
{
    font-size: 1.5em;
    font-style: bold;
    color: var(--orangeb);
}

#id_p
{
    font-size: 1em;
    color: var(--light);
}

/*Pagina Productos*/

#main_wrapper_p
{
        display:midle;
        width: 95%;
        height: 95%;
        padding-top: 10px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background:url("../source/imagenes/Fondos/fondoFooter.png") repeat;
    

}


#banner_image_p
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../source/imagenes/Fondos/FondoMetales.png') no-repeat;
    background-color: #efefef;
    position:relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px; 
}

#id_albun
{
    background: url("../source/imagenes/Fondos/fondoFooter.png");

}

#id_h1p
{
    font-style: bold;
    font-size: 3em;
    color:#e0905a ;
}

#id_pp
{
    color: white;
    font-size: 1em;
}

#id_imgp
{
    background-color: var(--grey);
}

#id_pc
{
    color: #ec9d68;
    font-size: 1.5em;
    font-style: bold;
}

#id_btn
{
    background-color: #ffffff;
    color: #181818;
    padding-left: 10px;
    margin-left: 10px;
}

/*Pagina Contacto*/

#banner_image_c
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../source/imagenes/Fondos/FondoContacto.png') no-repeat;
    background-color: #efefef;
    position:relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px; 
}

#id-container
{
    width: 80%;
    height: 80%;
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

#contact_form
{
    padding: 10px;
}

#id_spam
{
    font-size: 2em;
    color: #cc6109;
    background-color: #272727;
    border-color: #ffffff;
    border-radius: 5px;
}

#id_spam2
{
    width: 10%;
}

#id_group
{
 margin-top: 5px;
 margin-bottom: 10px;
 display: inline;
 
}


#inputGroup-sizing-sm
{   
    position: relative;
    width: 50%;
    font-size: 1.1em;
    font-style: bold;
    background-color: #272727;
    color: #ec9d68;
    margin-top: 10px;  
    border-color: #181818;
    border-radius: 5px;
    
}

#id_control
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-color: #181818;
    border-radius: 5px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

#inputGroupSelect01
{
    width: 100%;
    margin-bottom: 20px; 
}

#id_textarea
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-color: #181818;
    border-radius: 5px;
}

.contact_form input:required:valid, .contact_form textarea:required:valid
{
    background: #fff url('images/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

#id-container input:required:invalid, #id-container textarea:required:invalid
{
    background: #fff url('images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #d03535;
}


#id_control:hover, #inputGroupSelect01:hover, .option:hover, #id_textarea:hover
{
    width: 120%;
    height: 120%;
}


.contact_form h2,
.contact_form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact_form input:required, .contact_form textarea:required
{
    background: #fff url('images/red_asterisk.png') no-repeat 98% center;
}

.contact_form input:required:valid, .contact_form textarea:required:valid
{
    background: #fff url('images/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.contact_form input:required:invalid, .contact_form textarea:required:invalid
{
    background: #fff url('images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #d03535;
}

#btn_enviar
{
    background-color: #cc6109;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: 1px solid #080808;
    border-bottom: 1px solid #080808;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    box-shadow: inset 0 1px 0 0 #0c0c0c;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #080808;

}


/*Pagina Productos*/


#banner_image_n
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../source/imagenes/Fondos/FondoNoticias.png') no-repeat;
    background-color: #efefef;
    position:relative;
    box-shadow: 0px 4px 4px 0px #1c1a19;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;

}


#id_h2n
{
    color: #cc6109;
}
#id_pn
{
    color:white;
}

#id_btnn
{
 
    width: 40%;
}

#id_btnn2
{
 
    width: 20%;
}


